/* ### 変換オンラインツール https://anyconv.com/ja/woff2-konbata/
---------------------------------------------------------------------- */

/* ****************************************************************************************************

 # Noto sans JP

**************************************************************************************************** */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url('../font/noto/NotoSansJP-Black.woff2') format('woff1');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 800;
  src: url('../font/noto/NotoSansJP-Bold.woff2') format('woff1');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('../font/noto/NotoSansJP-Medium.woff2') format('woff1');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../font/noto/NotoSansJP-Black.woff2') format('woff1');
}

/* ****************************************************************************************************

 # Oswald

**************************************************************************************************** */
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  src: url('../font/oswald/Oswald-Bold.woff2') format('woff1');
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  src: url('../font/oswald/Oswald-Medium.woff2') format('woff1');
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url('../font/oswald/Oswald-Regular.woff2') format('woff1');
}
